body{
    background-color: #f1f1f1;
    font-family: 'Jockey One', sans-serif;
}



.logo img{
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 1000;
    justify-content: left;
    padding: 10px 20px;
    align-items: center;
}

.navbar{
    overflow: hidden;
    background-color: #ffffff;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid black;

    
}

.navbar a {
    font-size: 16px;
    color: #422828;
    text-align: center;
    text-decoration: none;
    border-radius: 25px;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: white;
    margin: 15px;
    transition: background-color 0.3s ease;
  }
  
  .navbar a:hover{
    background-color: teal;
  }
  
  .announcement {
    border-radius: 10px;
    gap: 0%;
    background-color: #21CF04;
    box-shadow: 0 2px 4px rgb(0 0 0 / 30%);
    width: 100%;
    display: flex;
    margin-top: 80px;
    color: white;
}

.announcement a {
    font-size: 16px;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    font-family: 'Jockey One', sans-serif;

}

.time {
    overflow: hidden;
    border-radius: 10px;
    background-color: #0075FF;
    width: 15%;
    height: 22px;
    align-items: center;
    position: fixed;
    top: 88px;
    left: 8px;
    z-index: 1000;
    display: flex;
    padding: 0px 5px;
    justify-content: center;
}

.time a{
    font-size: 16px;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    font-family: 'Jockey One', sans-serif;
}

.today{
    overflow: hidden;
    border-radius: 10px;
    background-color: #ffffff;
    width: 15%;
    justify-content: center;
    align-items: center;

    position: fixed;
    top: 200px;
    left: 8px;
    z-index: 1100;
    display: flex;
    padding: 350px 160px;

}

.week{

    overflow: hidden;
    border-radius: 10px;
    background-color: #ffffff;
    width: 15%;
    justify-content: center;
    align-items: center;

    position: fixed;
    top: 200px;
    left: 635px;
    z-index: 1100;
    display: flex;
    padding: 350px 160px;

}


.month{
    overflow: hidden;
    border-radius: 10px;
    background-color: #ffffff;
    width: 15%;
    justify-content: center;
    align-items: center;

    position: fixed;
    top: 200px;
    left: 1265px;
    z-index: 1100;
    display: flex;
    padding: 350px 160px;

}
.today a, .week a, .month a {
    font-size: 30px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    width: 100%;
}
.matematika {
    overflow: hidden;
    border-radius: 10px;
    background-color: #eeeeee;
    width: 15%;

    position: fixed;
    top: 260px;
    left: 25px;
    z-index: 1300;
    display: flex;
    padding: 10px 260px 10px 20px;
    transition: background-color 0.3s ease;
    box-shadow: 0 8px 6px -6px rgb(53, 53, 53);
    transition: 0.3s ease;
}

.matematika span {
    text-align: left;
    width: 100%;
    
}


.matematika-content {
    margin-top: 20px;
    display: none;

}

.matematika.expanded .matematika-content {
    display: block;
}


.matematika:hover{
    background-color: teal;
  }

.matematika2{
    overflow: hidden;
    border-radius: 10px;
    background-color: #eeeeee;
    width: 15%;


    position: fixed;
    top: 260px;
    left: 650px;
    z-index: 1300;
    display: flex;
    padding: 10px 260px 10px 20px;
    transition: background-color 0.3s ease;
    box-shadow: 0 8px 6px -6px rgb(53, 53, 53);

}

.matematika2 span {
    text-align: left;
    width: 100%;
    
}


.matematika2-content {
    margin-top: 20px;
    display: none;

}

.matematika2.expanded .matematika2-content {
    display: block;
}

.matematika2:hover{
    background-color: teal;
  }

.matematika3{
    overflow: hidden;
    border-radius: 10px;
    background-color: #eeeeee;
    width: 15%;


    position: fixed;
    top: 260px;
    left: 1285px;
    z-index: 1300;
    display: flex;
    padding: 10px 260px 10px 20px;
    transition: background-color 0.3s ease;
    box-shadow: 0 8px 6px -6px rgb(53, 53, 53);
}

.matematika3 span {
    text-align: left;
    width: 100%;
    
}


.matematika3-content {
    margin-top: 20px;
    display: none;

}

.matematika3.expanded .matematika3-content {
    display: block;
}

.matematika3:hover{
    background-color: teal;
  }

.bindo{
    overflow: hidden;
    border-radius: 10px;
    background-color: #eeeeee;
    width: 15%;


    position: fixed;
    top: 348px;
    left: 650px;
    z-index: 1200;
    display: flex;
    padding: 10px 260px 10px 20px;
    transition: background-color 0.3s ease;
    box-shadow: 0 8px 6px -6px rgb(53, 53, 53);

}

.bindo span {
    text-align: left;
    width: 100%;
    
}

.bindo-content {
    margin-top: 20px;
    display: none;

}

.bindo.expanded .bindo-content {
    display: block;
}

.bindo:hover{
    background-color: teal;
  }

.bindo2{
    overflow: hidden;
    border-radius: 10px;
    background-color: #eeeeee;
    width: 15%;

    position: fixed;
    top: 348px;
    left: 1280px;
    z-index: 1200;
    display: flex;
    padding: 10px 260px 10px 20px;
    transition: background-color 0.3s ease;
    box-shadow: 0 8px 6px -6px rgb(53, 53, 53);

}

.bindo2 span {
    text-align: left;
    width: 100%;
    
}

.bindo2-content {
    margin-top: 20px;
    display: none;

}

.bindo2.expanded .bindo2-content {
    display: block;
}

.bindo2:hover{
    background-color: teal;
  }


.pengguna {
    position: fixed;
    top: 10px;
    right: 10px;
    font-size: 16px;
    color: #422828;
    text-align: center;
    text-decoration: none;
    border-radius: 25px;
    padding: 10px 30px;
    background-color: white; /* Tetapkan latar belakang putih */
    margin: 15px;
    transition: background-color 0.3s ease;
    z-index: 21000; /* Pastikan bagian pengguna tetap di atas overlay */
}


.pengguna-content {
    margin-top: 20px;
    background-color: white;
    display: none;

}

.pengguna.expanded .pengguna-content {
    display: block;
}

.pengguna:hover {
    border: 1px solid teal; /* Menambahkan border saat dihover */
}

.penggunaContent {
    text-align: left;
    width: 100%;
}

.logout-content {
    padding: 10px 20px;
    text-align: center;
    background-color: #f1f1f1; /* Warna latar belakang untuk logout */

    display: none; /* Sembunyikan secara default */
}

.pengguna:hover .logout-content {
    display: block; /* Tampilkan saat pengguna hover */
}

.logout-content a {
    color:  #000000; /* Warna teks untuk logout */
    text-decoration: none;
    font-weight: bold;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Ubah opasitas menjadi 0.5 untuk mendapatkan efek vignette */
    z-index: 2000; /* Pastikan overlay berada di atas konten lain */
    display: none; /* Awalnya sembunyikan overlay */
    pointer-events: none; /* Tambahkan ini agar overlay tidak menangkap peristiwa klik */

}




