body {
  background-color: #f1f1f1;
  font-family: 'Jockey One', sans-serif;
}

.logo img {
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 1000;
  justify-content: left;
  padding: 10px 20px;
  align-items: center;
}

.navbar {
  overflow: hidden;
  background-color: #f1f1f1;
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid black;
}

.navbar a {
  font-size: 16px;
  color: #a1a1a1;
  text-align: center;
  text-decoration: none;
  border-radius: 25px;
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: white;
  margin: 15px;
}

.navbar a:hover {
  background-color: white;
}

.announcement {
  overflow: hidden;
  border-radius: 10px;
  background-color: #21CF04;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  width: 99%;
  position: fixed;
  display: flex;
  justify-content: center;
  margin-top: 80px;
  z-index: 999;
}

.announcement a {
  font-size: 16px;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  font-family: 'Jockey One', sans-serif;
  display: block;
}

.pengguna {
  position: fixed;
  top: 10px;
  right: 10px;
  font-size: 16px;
  color: #422828;
  text-align: center;
  text-decoration: none;
  border-radius: 25px;
  padding: 10px 30px;
  background-color: white;
  margin: 15px;
  transition: background-color 0.3s ease;
  z-index: 21000;
  cursor: pointer;
}

.pengguna-content {
  margin-top: 20px;
  background-color: white;
  display: none;
}

.logout-content {
  padding: 10px 20px;
  text-align: center;
  background-color: #f1f1f1;
  display: none;
}

.pengguna.expanded .pengguna-content {
  display: block;
}

.pengguna:hover {
  border: 1px solid teal;
}

.logout-content a {
  color: #000000;
  text-decoration: none;
  font-weight: bold;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2000;
  display: none;
  pointer-events: none;
}

.time {
  overflow: hidden;
  border-radius: 10px;
  background-color: #0075FF;
  width: 15%;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 88px;
  left: 8px;
  z-index: 1000;
  display: flex;
  padding: 0px 5px;
}

.time a {
  font-size: 16px;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  font-family: 'Jockey One', sans-serif;
}

.event-label {
  position: absolute;
  top: -65px; 
  left: 55px; 
  color: #000000; 
  font-size: 20px; 
  font-weight: bold; 
}

.line {
  width: 50px; 
  height: 6px; 
  background-color: #0075FF; 
  margin-right: 10px; 
  float: left; 
  position: relative; 
  top: 12px;
  right: 10px;
  left: -5px;
}

.white-box {
  position: absolute;
  top: 160px; 
  left: 50px; 
  z-index: -1; 
  width: 90%; 
  height: 280px; 
  background-color: #ffffff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  margin-top: -180px;
  margin-bottom: 20px;
  display: inline-table;
}

.content-box {
  position: fixed;
  top: 400px;
  left: 8px;
  z-index: 1100;
  width: 99%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box {
  width: 97%;
  background-color: #D9D9D9;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  margin-top: 8px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.box p {
  font-size: 18px;
  font-weight: bold;
  color: #000000;
  margin: 0;
  white-space: nowrap; 
}

.box p:last-child {
  margin-left: auto; 
}

.content-box {
  margin-top: -170px;
}

.raphael--edit {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Cpath fill='%23804a00' d='M27.87 7.863L23.024 4.82l-7.89 12.566l4.843 3.04zM14.395 21.25l-.107 2.855l2.527-1.337l2.35-1.24l-4.673-2.936zM29.163 3.24L26.63 1.647a1.364 1.364 0 0 0-1.88.43l-1 1.588l4.843 3.042l1-1.586c.4-.64.21-1.483-.43-1.883zm-3.965 23.82c0 .275-.225.5-.5.5h-19a.5.5 0 0 1-.5-.5v-19a.5.5 0 0 1 .5-.5h13.244l1.884-3H5.698c-1.93 0-3.5 1.57-3.5 3.5v19c0 1.93 1.57 3.5 3.5 3.5h19c1.93 0 3.5-1.57 3.5-3.5V11.097l-3 4.776v11.19z'/%3E%3C/svg%3E");
}

.raphael--edit:hover {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Cpath fill='%23472d00' d='M27.87 7.863L23.024 4.82l-7.89 12.566l4.843 3.04zM14.395 21.25l-.107 2.855l2.527-1.337l2.35-1.24l-4.673-2.936zM29.163 3.24L26.63 1.647a1.364 1.364 0 0 0-1.88.43l-1 1.588l4.843 3.042l1-1.586c.4-.64.21-1.483-.43-1.883zm-3.965 23.82c0 .275-.225.5-.5.5h-19a.5.5 0 0 1-.5-.5v-19a.5.5 0 0 1 .5-.5h13.244l1.884-3H5.698c-1.93 0-3.5 1.57-3.5 3.5v19c0 1.93 1.57 3.5 3.5 3.5h19c1.93 0 3.5-1.57 3.5-3.5V11.097l-3 4.776v11.19z'/%3E%3C/svg%3E");
}

.mdi--trash-outline {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23ff0000' d='M6 19a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V7H6zM8 9h8v10H8zm7.5-5l-1-1h-5l-1 1H5v2h14V4z'/%3E%3C/svg%3E");
}

.mdi--trash-outline:hover {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23750000' d='M6 19a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V7H6zM8 9h8v10H8zm7.5-5l-1-1h-5l-1 1H5v2h14V4z'/%3E%3C/svg%3E");
}